.App {
  text-align: center;
  overflow-y: hidden;
}

.dark {
  background-color: rgb(34, 34, 34);
  color: white;
  z-index: 0;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.light {
  background-color: white;
  z-index: 0;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  /* Adjust the gap as needed */
  width: 100%;
  min-height: 100vh;
}

.grid-item {
  padding: 20px;
  text-align: center;
  border-radius: 4px;

}

.hangman-tree {
  transform-origin: center bottom;
  transition: transform 1s ease-in-out;
  width: 100%;
}

.hangman-tree.swing {
  animation: swing 2s ease-in-out infinite;
  width: 100%;
}

@keyframes swing {
  0% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(10deg);
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 3s ease-in forwards;
  /* Animates opacity from 0 to 1 */
  width: 100%;


}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
    /* Stack items on small screens */
  }
}